[Unit]
Description=lila-http
After=network.target
After=sys-subsystem-net-devices-eth1.device
Requires=sys-subsystem-net-devices-eth1.device

[Service]
User=lila-http
Group=lila-http
Environment=LILA_HTTP_LOG=lila_http=info
ExecStart=/usr/local/bin/lila-http --no-cors --bind 127.0.0.1:9001 --redis-url redis://manta:6379
LimitNOFILE=131072
PrivateDevices=true
ProtectSystem=strict
CapabilityBoundingSet=
NoNewPrivileges=true
Restart=always
